* {
  box-sizing: border-box;
  margin: 0;
}
p {
  padding: 18px;
}

.text {
  color: rgb(43, 48, 92);
  margin: 40px;
  padding-block: 10px;
  padding-inline: 50px;
  border-radius: 30px;
  border: 4px solid rgb(33, 27, 74);
  max-width: 600px;
  margin-inline: auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: underline dashed;
}

#text-p {
  margin-top: 50px;
  background-color: rgb(157, 171, 202);
}

.container {
  border-radius: 20px;
  padding: 24px;
  background-color: rgb(31, 37, 61);
  color: rgb(229, 236, 247);
  max-width: 600px;
}
img {
  max-width: 100%;
  display: block;
}

h2 {
  margin: 0;
  padding-bottom: 18px;
}
