* {
  box-sizing: border-box;
  display: block;
  margin: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
p {
  margin: 0;
}

.back {
  position: absolute;
  z-index: -1;
  filter: blur(10px);
  opacity: 50%;
  width: 100%;
  &_img {
    width: 100%;
  }
}
.nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-block: 20px;
  margin-inline: 50px;
  padding-inline: 50px;
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  &_right {
    display: flex;
  }
}
.main {
  margin-inline: 50px;
  &_top {
    padding-top: 100px;
    border: solid 2.2px #fff;
  }
  &_hero {
    // background-color: #fff;
    // margin-block: 20px;
    margin-inline: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-text {
      padding-right: 35px;
    }
  }
  &_text1 {
    font-size: 60px;
    padding: 50px;
  }
  &_card {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-inline: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-left {
      border-radius: 15px;
      margin: 10px;
      background-color: #ffffff6c;
      padding-block: 30px;
      padding-inline: 50px;
    }
    &-right {
      border-radius: 15px;

      margin: 10px;
      background-color: #ffffff6c;
      padding-block: 30px;
      padding-inline: 50px;
    }
  }
  &_home {
    font-size: 1000px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 1.2;
    font-weight: 700;
  }
  &_bot {
    background-color: #dddddd;
  }
}
