* {
  box-sizing: border-box;
  display: block;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.back {
  position: absolute;
  z-index: -1;
  filter: blur(10px);
  opacity: 50%;
  width: 100%;
}
.back_img {
  width: 100%;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-block: 20px;
  margin-inline: 50px;
  padding-inline: 50px;
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}
.nav_right {
  display: flex;
}
.nav_right-go {
  margin-right: 20px;
}

.main {
  margin-inline: 50px;
}
.main_top {
  padding-top: 100px;
  border: solid 2.2px #fff;
}
.main_hero {
  margin-inline: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_hero-text {
  padding-right: 35px;
}
.main_text1 {
  font-size: 60px;
  padding: 50px;
}
.main_card {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-inline: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_card-left {
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.4235294118);
  padding-block: 30px;
  padding-inline: 50px;
}
.main_card-right {
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.4235294118);
  padding-block: 30px;
  padding-inline: 50px;
}
.main_home {
  font-size: 900px;
  margin-top: 90px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1;
  font-weight: 700;
}
.main_home-circle {
  display: flex;
  justify-content: center;
  border-radius: 2px 10px #000;
}
.main_home-circle > p {
  display: flex;
  aspect-ratio: 1/1;
  margin: 50px;
  text-align: center;
  align-items: center;
  padding: 30px;
  line-height: 0;
  border: solid 2px rgba(0, 0, 0, 0.4941176471);
  border-radius: 100px;
}
.main_bot {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-top: 50px;
}
.main_bot-card {
  padding: 30px;
  background-color: #e6e6e6;
}

.imgimg {
  width: 100%;
}

h5 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.line {
  margin-top: 120px;
  margin-inline: 100px;
  padding-block: 2px;
  background-color: rgba(0, 0, 0, 0.1098039216);
}